<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->

    <!-- main side  -->
    <main id="site-main">
        <div class="container">
            <div class="content">
                <a href="/" class="btn btn-success">go back</a>
            </div>
            <h1>Add User</h1>
            <div class="add_user">

                <!-- include header -->
                <%- include('includes/_addUserForm') %>
                    <!-- /include header -->
            </div>
        </div>
    </main>
    <!-- /main side  -->

    <!-- include header -->
    <%- include('includes/_footer') %>
        <!-- /include header -->